{% extends 'CodeceptionBundle::layout.html.twig' %}

{% block title %}Login{% endblock%}

{% block body %}
    <header>
        <h1>Login</h1>
    </header>
    <form action="" method="post" {{ form_enctype(form) }} class="login">
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        
        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}